.suiteNav{
    flex: 0 0 auto;
    height: 48px;
    background-color: #0078D4;
    background-position: left top;
    display: flex;
    border-spacing: 0;
    white-space: nowrap;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.leftRegion{
    justify-content: space-between;
    align-items: center;
    display: flex;
    line-height: 48px;
    margin: 0;
    padding: 0;
    height: 100%;
}

.centerRegion{
    display: flex;
    flex: 1 0 auto;
    height: 100%;
}

.centerRegion .title {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    -webkit-font-smoothing: antialiased;
    color: white;
}

.rightRegion{
    align-items: center;
    display: flex;
    flex: 0 0 auto;
}