.app-content {
  padding: 20px;
}
.app-content {
  color: #777;
}

/**
 * Flex things:
 * — Mobile first`
 * — Responsive
 */
.app {
  min-height: 100vh;
}
.app,
.app-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.app-body{
  margin-top: 48px;
}
.app-content {
  flex: 1 1 auto;
}
@media (min-width: 768px) {
  .app-sidebar-1 {
    order: -1;
  }
  .app-body {
    flex-direction: row;
  }
  .hg-sidebar {
    flex: 0 0 260px;
  }
}